* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .mn-container {
        margin: 1em 5em;
    }

}


nav {

    .inr-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-section {
        .logo {

            p {
                display: inline;
                margin: -2px;
            }

            .alpha {
                font-size: 32px;
                font-weight: 600;
            }
            .beta {
                font-weight: 100;
            }
        }
    }

    .right-section {
        li {
            display: inline;

            a {
                font-size: 18px;
            }
        }
    }

}


header {

    .inr-container {

        width: 75%;
        height: 25em;

        .bin-hd {
            font-size: 28px;
            font-weight: 100;
            margin-bottom: -8px;
        }
        .mn-hd {
            font-size: 42px;
            font-weight: 400;
        }
        .p-hd {
            margin-top: 12px;
            text-align: center;
            font-size: 21px;
            font-weight: 100;
        }

        .header-cta {
            margin-top: 45px;

            a {
                font-size: 18px;
                margin: 4px;
            }
        }

    }

}


.button-clear {
    padding: 6px 24px;
    border-radius: 10px;
}

.button-clear:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-outline {
    opacity: .8;
    padding: 6px 24px;
    border: 2px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
}

.button-outline:hover {
    cursor: pointer;
    border: 2px rgba(255, 255, 255, 0) solid;
    background-color: rgba(255, 255, 255, 0.2);
}


// Links 

a {
    text-decoration: none;
    color: white;
}

// Flew ME :D

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-dead-center {
    display: flex;
    justify-content: center;
    align-items: center;
}