:root {
    --primary-color: #35A7E7;
    --secondary-color: #1564FD;
    --tertiary-color: #8EB8D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .mn-container {
        margin: 1em 5em;
    }

}

// NAVIGATION PANEL 

nav {

    .inr-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-section {
        .logo {
            align-items: end;

            .alpha {
                margin: -4px 0px;
                font-size: 32px;
                font-weight: 600;
            }
            .beta {
                font-weight: 100;
            }
        }
    }

    .right-section {
        li {
            display: inline;

            a {
                font-size: 18px;
            }
        }
    }

}


// HEADER PANEL

header {

    .inr-container {

        width: 75%;
        height: 25em;

        * {
            text-align: center;
        }

        .bin-hd {
            font-size: 28px;
            font-weight: 100;
            margin-bottom: -8px;
        }
        .mn-hd {
            font-size: 42px;
            font-weight: 400;
        }
        .p-hd {
            margin-top: 12px;
            font-size: 21px;
            font-weight: 100;
        }

        .cmsoon-hd {
            margin-top: 40px;
            font-weight: 500;
            padding: 0px 50px;
            background-color: var(--secondary-color);
        }

        .header-cta {
            margin-top: 45px;

            a {
                font-size: 20px;
                margin: 4px;
            }
        }

    }

}


// HERO SECTION
.hero {

    .inr-container {

        .music-of-the-week {


            background-color: rgba(0, 0, 0, .5);
            border-radius: 20px;
            padding: 10px;

            .left-section {

                flex-grow: 1;

                img {
                    height: 200px;
                    border-radius: 15px;
                }

                .music-detail-section {

                    margin-left: 10px;

                    justify-content: space-evenly;

                    .music-titles {
                        .song-title {
                            font-size: 30px;
                            font-weight: 600;
                        }
                        .album-title {
                            margin-top: -8px;
                            font-size: 26px;
                            font-weight: 300;
                        }
                    }

                    .artist-names::before {
                        content: "by ";
                    }

                    .rating-section {

                        .rtn-container {
                            border-radius: 10px;
                            font-size: 20px;
                            font-weight: 500;
                            padding: 6px 16px;
                        }

                        .user-rating {
                            background-color: rgba(110, 215, 45, 0.6);
                        }
                        .eddie-rating {
                            margin-left: 10px;
                            background-color: rgba(201, 215, 45, 0.5);
                        }

                    }

                    .music-extras {

                        .music-length::before {
                            content:"Length : ";
                        }
                        .music-length::after {
                            content:" min";
                        }
                        .genre-type::before {
                            content:"Genre : ";
                        }

                    }

                }

            }

            .right-section {

                flex-grow: 7;
                
                .section-hd {
                    font-weight: 500;
                    font-size: 28px;
                }

                .opn-alb-cta {
                    margin-top: 12px;
                    opacity: 100;
                    border-radius: 25px;
                }

            }


        }

    }

}


// BACKGROUND EFFECT

.shape-group {

    position: absolute;

    left: 200px;
    top: -70px;

    .circle {
        opacity: 0.8;

        z-index: -5;
        position: relative;
        
        width: 300px;
        height: 300px;

        border-radius: 100%;
    }

    .circle-1 {
        top: 40em;
        background-color: var(--primary-color);
        box-shadow:0px 0px 150px 200px var(--primary-color);
    }
    .circle-2 {
        z-index: -1;
        top: 32em;
        left: 30em;
        background-color: var(--secondary-color);
        box-shadow:0px 0px 150px 200px var(--secondary-color);
    }
    .circle-3 {
        top: 32em;
        background-color: var(--tertiary-color);
        box-shadow:0px 0px 150px 200px var(--tertiary-color);
    }
}


.button-clear {
    padding: 6px 24px;
    border-radius: 10px;
}

.button-clear:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-outline {
    opacity: .8;
    padding: 6px 24px;
    border: 2px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
}

.button-outline:hover {
    cursor: pointer;
    border: 2px rgba(255, 255, 255, 0) solid;
    background-color: rgba(255, 255, 255, 0.2);
}


// Hide me :O
.hide-me {
    display: none;
}

// Links 

a {
    text-decoration: none;
    color: white;
}

// Flew ME :D

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-dead-center {
    display: flex;
    justify-content: center;
    align-items: center;
}