.album-ic {
    gap: 40px;
    justify-content: start;

    .tab {
        overflow: visible;

        img {
            border: 6px solid var(--text-color);
            margin: -6px;
            border-radius: 25px;
        }
    }


    .submit-section {

        display: flex;
        gap: 25px;

        .button-style {
            font-family: "Fredoka";
            font-weight: 500;
        }

        textarea {
            width: 100%;
            font-size: 24px;
            padding: 10px 20px;
            border: 6px solid var(--text-color);
            border-radius: 16px;
            box-shadow: 8px 8px 0px var(--shadow-color);
        }

    }
    
    .album-table {
        .song-title {
            width: 75%;
            text-align: start;
            padding-left: 25px;
        }
    }

}

@media screen and (max-width: 810px) {
    .album-ic {
        align-items: center;
    }

    .tab {
        width: 100%;
        align-items: center;
        padding-top: 18px;

        img {
            border-radius: 0;
        }

        .right-section {
            .details {
                .music-title {
                    text-align: center;
                }

                .extra {
                    .artist-name {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 455px) {
    .album-ic {
        .mobile-hide {
            display: none;
        }
    }
}