.album-ic {
    gap: 25px;
    justify-content: start;

    .tab {
        overflow: visible;
        img {
            border: 6px solid var(--text-color);
            margin: -6px;
            border-radius: 25px;
        }
    }

    .album-table {
        .song-title {
            width: 75%;
            text-align: start;
            padding-left: 25px;
        }
    }
}

@media screen and (max-width: 810px) {
    .album-ic {
        align-items: center;
    }

    .tab {
        align-items: center;
        img {
            border-radius: 0;
        }
    }
}