.ex-container {

    justify-content: start;
    gap: 50px;

    .search-bar {
        overflow: visible;
    }


    .category-section {
        width: 100%;
        padding: 0px 20px;
        display: grid;
        gap: 10px;
    }

    .cs-main {
        grid-template-columns: repeat(4, 24%);
    }
    .cs-hero {
        grid-template-columns: repeat(2, 49%);
    }

    .explore-tab {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 6px solid var(--text-color);
        border-radius: 20px;
        img {
            width: 100%;
        }
        .right-section {
            flex: 1;
            display: inherit;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px 10px;

            .details {
                .music-title {
                    font-weight: 600;
                }
                .artist-name {
                    font-weight: 400;
                }
            }

            a {
                border: 5px solid var(--text-color);
                border-radius: 16px;
                font-size: 20px;
                margin: 10px;
                margin-top: 25px;
            }
        }
    }
    
    .et-vertical {
        flex-direction: row;
        img {
            width: 50%;
            object-fit: cover;
        }
        .right-section {
            .details {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 10px;
                padding-right: 10px;
                .music-title {
                    font-size: 26px;
                }
                .artist-name {
                    margin-top: 5px;
                    font-size: 20px;
                    margin-bottom: -6px;
                }
            }

            a {
                border: 5px solid var(--text-color);
                border-radius: 16px;
                font-size: 20px;
                margin: 10px;
                margin-top: 25px;
            }
        }
    }

}

@media screen and (max-width: 810px) {
    .ex-container {
        .category-section {
            padding: 0%;
            display: flex;
            justify-content: start;
        }
    }
}