.main-section {

    flex: 1;
    overflow: hidden;

    .hero {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 30px 30px;

        .upper-section {

            display: inherit;
            flex-direction: column;

            * {
                text-align: center;
            }

            h3 {
                font-weight: 400;
                font-size: 40px;
                margin-bottom: -12px;
            }

            h1 {
                font-weight: 500;
                font-size: 52px;
            }
        }

        .bottom-section {
            display: inherit;
            justify-items: center;
            align-items: center;
            width: 80%;
            gap: 50px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
            }

            p {
                font-size: 38px;
            }
        }
    }

    .category-section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .overflow-fix {
            overflow: scroll;
            padding-bottom: 10px;
            scrollbar-width: none;
            border-radius: 26px;
        }

        .scroll-view {
            display: flex;
            width: fit-content;
            gap: 20px;
        }
    }

    .tab-nav {
        display: inherit;
        width: 100%;
        justify-content: center;
        gap: 20px;

        .button-style {
            font-size: 45px;
            padding: 0px 40px;
        }

        .button-right {
            z-index: 1;
        }
    }
}

@media screen and (max-width: 1490px) {
    .main-section {
        .hero {
            .bottom-section {
                p {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1345px) {
    .main-section {
        overflow: visible;

        .inner-container {
            gap: 50px;
        }
    }
}

@media screen and (max-width: 970px) {
    .main-section {
        .hero {
            gap: 5px;

            .upper-section {
                h3 {
                    font-size: 32px;
                }

                h1 {
                    font-size: 42px;
                }
            }

            .bottom-section {
                a {
                    font-size: 26px;
                }

                p {
                    font-size: 21px;
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .main-section {

        .hero {
            display: none;
        }
    }
}

@media screen and (max-width: 455px) {
    .main-section {

        overflow: auto;

        .category-section {
            flex: 1;
            justify-content: center;
        }
    }
}