@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");
:root {
  --text-color-op20: #11002F20;
  --text-color: #11002F;
  --background-color-op10: #9747ff10;
  --background-color-op25: #9747ff25;
  --background-color-op50: #9747ff50;
  --background-color: #9747FF;
  --container-bg-color: #ffffff;
  --shadow-color: #360098;
  --shadow-color-op10: #36009810;
  --highlight-color-op25: #FFD60025;
  --highlight-color-op50: #FFD60050;
  --highlight-color-op75: #FFD60075;
  --highlight-color-op90: #FFD60090;
  --highlight-color: #FFD600;
  --transition-time: 200ms;
}

::-moz-selection {
  color: var(--shadow-color);
  background: var(--highlight-color-op90);
}

::selection {
  color: var(--shadow-color);
  background: var(--highlight-color-op90);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--background-color);
}

.main-container {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  height: 100vh;
  gap: 15px;
}

.inner-container {
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  border: 6px solid var(--text-color);
  border-radius: 60px;
  overflow: scroll;
}

.table-style {
  border-spacing: 10px;
}
.table-style caption {
  font-size: 50px;
  text-align: start;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 0px;
}
.table-style tr th,
.table-style tr td {
  padding: 2px 10px;
  border: 5px solid var(--text-color);
  border-radius: 15px;
  background-color: var(--highlight-color);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.table-style tr td {
  border: 5px solid rgba(0, 0, 0, 0);
  font-weight: 400;
  background-color: var(--container-bg-color);
}
.table-style tr .clear-cell {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 0, 0, 0);
}
.table-style tr .checkbox input {
  display: flex;
  accent-color: var(--highlight-color);
}
.table-style tr:nth-child(odd) td {
  background-color: #f3f3f3;
}
.table-style tr:nth-child(odd) .checkbox {
  background-color: rgba(0, 0, 0, 0);
}
.table-style tr:hover td,
.table-style tr:hover:nth-child(even) td {
  border: 5px solid var(--highlight-color-op25);
  cursor: pointer;
  background-color: var(--highlight-color-op50);
}
.table-style tr:hover .checkbox,
.table-style tr:hover:nth-child(even) .checkbox {
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.table-style tr:hover .checkbox input,
.table-style tr:hover:nth-child(even) .checkbox input {
  cursor: pointer;
}

.table-sortable th {
  cursor: pointer;
}
.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: var(--shadow-color-op10);
}
.table-sortable .th-sort-asc::after {
  content: "▴";
  margin-left: 5px;
}
.table-sortable .th-sort-desc::after {
  content: "▾";
  margin-left: 5px;
}

.search-bar {
  width: 100%;
  border: 6px solid var(--text-color);
  border-radius: 23px;
  padding-left: 20px;
  overflow: hidden;
  display: flex;
}
.search-bar input {
  flex: 1;
  font-size: 30px;
  font-weight: 300;
  width: 0px;
  border: 0px;
}
.search-bar input:focus {
  outline: 0cap;
}
.search-bar input::-moz-placeholder {
  opacity: 0.3;
}
.search-bar input::placeholder {
  opacity: 0.3;
}
.search-bar button {
  border: 0px;
  border-left: 6px solid var(--text-color);
  border-radius: 0px;
}

.checkbox-style {
  border-radius: 10px;
  border: 5px solid var(--text-color-op20);
  width: 40px;
  height: 40px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.checkbox-style:hover {
  border: 5px solid var(--highlight-color-op50);
  cursor: pointer;
}

.checkbox-style:checked {
  background-color: var(--highlight-color);
  content: "Y";
}

.box-it {
  border: 5px solid var(--text-color);
  text-align: center;
  border-radius: 15px;
}

.box-it-fill {
  background-color: var(--highlight-color);
  border: 5px solid var(--text-color);
  text-align: center;
  border-radius: 15px;
}

.tab-style {
  display: flex;
  border: 6px solid var(--text-color);
  border-radius: 25px;
  overflow: hidden;
  gap: 30px;
  box-shadow: 8px 8px 0px var(--highlight-color);
}
.tab-style img {
  width: 300px;
  height: 300px;
}
.tab-style .right-section {
  width: 600px;
  align-items: end;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}
.tab-style .right-section .details {
  margin-left: 200px;
  flex-grow: 1;
  justify-content: center;
  display: inherit;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.tab-style .right-section .details h6 {
  font-weight: 400;
  font-size: 34px;
}
.tab-style .right-section .details .music-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 52px;
  margin-bottom: -24px;
}
.tab-style .right-section .details .extra {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tab-style .right-section .details .extra .album-name {
  font-size: 40px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-style .right-section .details .extra .artist-name::before {
  content: "• ";
}
.tab-style .right-section .details .extra .artist-name {
  font-size: 40px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-style .right-section .stats {
  position: relative;
  bottom: 25px;
  display: inherit;
  gap: 10px;
  width: 100%;
  justify-content: end;
  padding: 0px 50px;
}
.tab-style .right-section .stats .stat-container {
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.tab-style .right-section .stats .stat-container .total-votes,
.tab-style .right-section .stats .stat-container .avg-rating {
  width: 130px;
  font-weight: 500;
  font-size: 42px;
}
.tab-style .right-section .stats .stat-container h3 {
  margin-top: -4px;
  font-weight: 500;
  font-size: 24px;
}

.tab-style-hd .right-section {
  width: 100%;
}
.tab-style-hd .right-section .details .extra .artist-name::before {
  content: "";
}

.button-style {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 6px solid var(--text-color);
  border-radius: 16px;
  color: var(--text-color);
  background-color: var(--highlight-color);
  box-shadow: 8px 8px 0px var(--shadow-color);
  transition: var(--transition-time);
}

.button-style:hover {
  cursor: pointer;
}

.button-style:active {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.button-style-2 {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px 15px 26px;
  border-top: 6px solid var(--text-color);
  border-left: 6px solid var(--text-color);
  border-radius: 19px 0px 19px 0px;
  color: var(--container-bg-color);
  background-color: var(--text-color);
  transition: var(--transition-time);
}

.button-style-2:hover {
  color: var(--text-color);
  font-weight: 500;
  background-color: var(--highlight-color-op90);
  cursor: pointer;
}

.button-style-2:active {
  background-color: var(--highlight-color-op25);
}

.link-style-simple {
  color: var(--text-color);
  text-decoration: none;
}

.link-style-simple:hover {
  color: var(--shadow-color);
}

.link-style {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition-time);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.link-style:hover {
  color: var(--shadow-color);
  background-color: var(--background-color-op10);
  border: 2px solid var(--shadow-color-op10);
}

.link-style:active {
  transform: translateX(10px);
}

.hide-me {
  opacity: 0;
}

.trash-me {
  display: none;
}

.flex-me {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1345px) {
  .main-container {
    flex-direction: column;
    height: inherit;
  }
  .inner-container {
    padding: 20px;
  }
  .link-style:active {
    transform: translateX(0px);
    transform: translateY(10px);
  }
}
@media screen and (max-width: 810px) {
  .mobile-hide {
    display: none;
  }
  .tab-style {
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 10px;
  }
  .tab-style .right-section {
    width: initial;
    flex: 1;
  }
  .tab-style .right-section .details {
    justify-content: start;
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  .tab-style .right-section .details h6 {
    font-weight: 400;
    font-size: 26px;
  }
  .tab-style .right-section .details .music-title {
    font-size: 40px;
    margin-bottom: -20px;
  }
  .tab-style .right-section .details .extra {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .tab-style .right-section .details .extra .album-name {
    font-size: 26px;
    font-weight: 400;
  }
  .tab-style .right-section .details .extra .artist-name::before {
    content: "♫ ";
  }
  .tab-style .right-section .details .extra .artist-name {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: -8px;
  }
  .tab-style-hd .right-section {
    width: 100%;
  }
  .tab-style-hd .right-section .details .extra .artist-name::before {
    content: "";
  }
  .tab-style-hd .right-section .stats {
    position: relative;
    bottom: 15px;
    justify-content: center;
    padding: 0px 0px;
  }
}
@media screen and (max-width: 455px) {
  .mobile-hide-2 {
    display: none;
  }
  html {
    zoom: 85%;
  }
  .main-container {
    height: 100vh;
    flex-direction: column-reverse;
  }
  .link-style:active {
    transform: translateY(-10px);
  }
  .tab-style {
    width: 245px;
    gap: 10px;
  }
  .tab-style img {
    width: 245px;
    height: 245px;
  }
  .tab-style .right-section .details {
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  .tab-style .right-section .details h6 {
    font-size: 20px;
  }
  .tab-style .right-section .details .music-title {
    font-size: 30px;
  }
  .tab-style .right-section .details .extra .album-name {
    font-size: 22px;
  }
  .tab-style .right-section .details .extra .artist-name {
    font-size: 22px;
  }
  .tab-style .right-section a {
    font-size: 25px;
  }
  .tab-style-hd {
    box-shadow: 0px 0px;
  }
  .tab-style-hd .right-section .stats {
    gap: 5px;
  }
  .tab-style-hd .right-section .stats .stat-container {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
  .tab-style-hd .right-section .stats .stat-container .total-votes,
  .tab-style-hd .right-section .stats .stat-container .avg-rating {
    width: 95px;
    font-weight: 500;
    font-size: 40px;
  }
  .tab-style-hd .right-section .stats .stat-container h3 {
    margin-top: -2px;
    font-weight: 500;
    font-size: 18px;
  }
  .table-style caption {
    font-size: 32px;
  }
  .table-style tr th,
  .table-style tr td {
    font-size: 24px;
  }
}/*# sourceMappingURL=universal.css.map */