:root {

    --text-color-op20: #11002F20;
    --text-color: #11002F;
    --background-color-op10: #9747ff10;
    --background-color-op25: #9747ff25;
    --background-color-op50: #9747ff50;
    --background-color: #9747FF;
    --container-bg-color: #ffffff;
    --shadow-color: #360098;
    --shadow-color-op10: #36009810;
    --highlight-color-op25: #FFD60025;
    --highlight-color-op50: #FFD60050;
    --highlight-color-op75: #FFD60075;
    --highlight-color-op90: #FFD60090;
    --highlight-color: #FFD600;

    --transition-time: 200ms;
}

::selection {
    color: var(--shadow-color);
    background: var(--highlight-color-op90);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: var(--background-color);
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');

// MAIN CONTAINER --------------------------------------------

.main-container {

    color: var(--text-color);
    background-color: var(--background-color);

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;

    display: flex;
    flex-direction: row;

    padding: 20px;

    width: 100%;
    height: 100vh;

    gap: 15px;

}


.inner-container {

    background-color: var(--container-bg-color);

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;

    padding: 30px;

    border: 6px solid var(--text-color);
    border-radius: 60px;

    overflow: scroll;

}

// TABLE 

.table-style {

    border-spacing: 10px;

    caption {
        font-size: 50px;
        text-align: start;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 0px;
    }

    tr {


        th,
        td {
            padding: 2px 10px;
            border: 5px solid var(--text-color);
            border-radius: 15px;
            background-color: var(--highlight-color);

            font-size: 32px;
            font-weight: 500;

            text-align: center;
        }

        td {
            border: 5px solid #00000000;
            font-weight: 400;
            background-color: var(--container-bg-color);
        }

        .clear-cell {
            background-color: #00000000;
            border: 5px solid #00000000;
        }

        .checkbox {
            input {
                display: flex;
                accent-color: var(--highlight-color);
            }
        }

    }


    tr:nth-child(odd) {
        td {
            background-color: #f3f3f3;
        }

        .checkbox {
            background-color: #00000000;
        }
    }

    tr:hover,
    tr:hover:nth-child(even) {
        td {
            border: 5px solid var(--highlight-color-op25);
            cursor: pointer;
            background-color: var(--highlight-color-op50);
        }

        .checkbox {
            border: 5px solid #00000000;
            background-color: #00000000;

            input {
                cursor: pointer;
            }
        }
    }
}

.table-sortable {
    th {
        cursor: pointer;
    }

    .th-sort-asc,
    .th-sort-desc {
        background: var(--shadow-color-op10);
    }

    .th-sort-asc::after {
        content: "\25b4";
        margin-left: 5px;
    }

    .th-sort-desc::after {
        content: "\25be";
        margin-left: 5px;
    }

}

.search-bar {

    width: 100%;
    border: 6px solid var(--text-color);
    border-radius: 23px;

    padding-left: 20px;
    overflow: hidden;

    display: flex;

    input {
        flex: 1;
        font-size: 30px;
        font-weight: 300;
        width: 0px; // idk it worked from search bar growing
        border: 0px;
    }

    input:focus {
        outline: 0cap;
    }

    input::placeholder {
        opacity: .3;
    }

    button {
        border: 0px;
        border-left: 6px solid var(--text-color);
        border-radius: 0px;
    }

}

// CHECKBOX STYLE --------------------------------------------

.checkbox-style {
    border-radius: 10px;
    border: 5px solid var(--text-color-op20);
    width: 40px;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.checkbox-style:hover {
    border: 5px solid var(--highlight-color-op50);
    cursor: pointer;
}

.checkbox-style:checked {
    background-color: var(--highlight-color);
    content: 'Y';
}

// BOX IT --------------------------------------------

.box-it {
    border: 5px solid var(--text-color);
    text-align: center;
    border-radius: 15px;
}

.box-it-fill {
    background-color: var(--highlight-color);
    border: 5px solid var(--text-color);
    text-align: center;
    border-radius: 15px;
}

// TAB STYLE --------------------------------------------

.tab-style {

    display: flex;

    border: 6px solid var(--text-color);
    border-radius: 25px;

    overflow: hidden;

    gap: 30px;

    box-shadow: 8px 8px 0px var(--highlight-color);

    img {
        width: 300px;
        height: 300px;
    }

    .right-section {

        width: 600px;
        align-items: end;
        display: inherit;
        flex-direction: column;
        justify-content: space-between;

        .details {

            margin-left: 200px;

            flex-grow: 1;
            justify-content: center;
            display: inherit;
            flex-direction: column;
            width: 100%;
            gap: 15px;

            h6 {
                font-weight: 400;
                font-size: 34px;
            }

            .music-title {

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                font-size: 52px;
                margin-bottom: -24px;
            }

            .extra {
                display: flex;
                align-items: center;
                gap: 10px;

                .album-name {
                    font-size: 40px;
                    font-weight: 400;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

                .artist-name::before {
                    content: '• ';
                }

                .artist-name {
                    font-size: 40px;
                    font-weight: 500;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }

        .stats {
            position: sticky;
            right: 30px;
            padding-bottom: 10px;
            display: inherit;
            gap: 10px;
            justify-content: end;

            .stat-container {
                display: inherit;
                flex-direction: column;
                align-items: center;

                .total-votes,
                .avg-rating {
                    width: 130px;
                    font-weight: 500;
                    font-size: 42px;
                }

                h3 {
                    margin-top: -4px;
                    font-weight: 500;
                    font-size: 24px;
                }
            }

        }


    }
}

.tab-style-hd {

    .right-section {
        width: 100%;

        .details {
            .extra {
                .artist-name::before {
                    content: "";
                }
            }
        }
    }

}

// BUTTON STYLE --------------------------------------------

.button-style {
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border: 6px solid var(--text-color);
    border-radius: 16px;
    color: var(--text-color);
    background-color: var(--highlight-color);
    box-shadow: 8px 8px 0px var(--shadow-color);
    transition: var(--transition-time);
}

.button-style:hover {
    cursor: pointer;
}

.button-style:active {
    transform: translate(8px, 8px);
    box-shadow: none;
}

.button-style-2 {
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px 15px 26px;
    border-top: 6px solid var(--text-color);
    border-left: 6px solid var(--text-color);
    border-radius: 19px 0px 19px 0px;
    color: var(--container-bg-color);
    background-color: var(--text-color);
    transition: var(--transition-time);
}

.button-style-2:hover {
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--highlight-color-op90);
    cursor: pointer;
}

.button-style-2:active {
    background-color: var(--highlight-color-op25);
}

// LINK STYLE --------------------------------------------

.link-style-simple {
    color: var(--text-color);
    text-decoration: none;
}

.link-style-simple:hover {
    color: var(--shadow-color);
}

.link-style {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition-time);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.link-style:hover {
    color: var(--shadow-color);
    background-color: var(--background-color-op10);
    border: 2px solid var(--shadow-color-op10);
}

.link-style:active {
    transform: translateX(10px);
}

// VISIBLITY --------------------------------------------
.hide-me {
    opacity: 0;
}

.trash-me {
    display: none;
}

// FLEX --------------------------------------------
.flex-me {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1345px) {
    .main-container {
        flex-direction: column;
        height: inherit;
    }

    .inner-container {
        padding: 20px;
    }

    .link-style:active {
        transform: translateX(0px);
        transform: translateY(10px);
    }

}

@media screen and (max-width: 810px) {

    .mobile-hide {
        display: none;
    }

    .tab-style {
        display: flex;
        flex-direction: column;
        width: 310px;
        gap: 10px;

        .right-section {

            width: initial;
            flex: 1;

            .details {
                justify-content: start;
                padding: 0px 20px;
                margin-bottom: 50px;

                h6 {
                    font-weight: 400;
                    font-size: 26px;
                }

                .music-title {
                    font-size: 40px;
                    margin-bottom: -20px;
                }

                .extra {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;

                    .album-name {
                        font-size: 26px;
                        font-weight: 400;
                    }

                    .artist-name::before {
                        content: '♫ ';
                    }

                    .artist-name {
                        font-size: 26px;
                        font-weight: 500;
                        margin-bottom: -8px;
                    }
                }

            }

        }
    }


    .tab-style-hd {

        .right-section {
            width: 100%;

            .details {
                .extra {
                    .artist-name::before {
                        content: "";
                    }
                }
            }

            .stats {
                position: relative;
                bottom: 15px;
                justify-content: center;
                padding: 0px 0px;
            }
        }

    }

}

@media screen and (max-width: 455px) {

    .mobile-hide-2 {
        display: none;
    }

    html {
        zoom: 85%;
    }

    .main-container {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .link-style:active {
        transform: translateY(-10px);
    }

    .tab-style {

        width: 245px;
        gap: 10px;

        img {
            width: 245px;
            height: 245px;
        }

        .right-section {

            .details {

                padding: 0px 20px;
                margin-bottom: 50px;

                h6 {
                    font-size: 20px;
                }

                .music-title {
                    font-size: 30px;
                }

                .extra {
                    .album-name {
                        font-size: 22px;
                    }

                    .artist-name {
                        font-size: 22px;
                    }
                }

            }

            a {
                font-size: 25px;
            }

        }
    }

    .tab-style-hd {

        box-shadow: 0px 0px;

        .right-section {
            .stats {

                gap: 5px;

                .stat-container {
                    display: inherit;
                    flex-direction: column;
                    align-items: center;

                    .total-votes,
                    .avg-rating {
                        width: 95px;
                        font-weight: 500;
                        font-size: 40px;
                    }

                    h3 {
                        margin-top: -2px;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }

            }
        }
    }

    .table-style {
        caption {
            font-size: 32px;
        }

        tr {

            th,
            td {
                font-size: 24px;
            }
        }
    }

}